<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping Cart</title>

    <link
      rel="stylesheet"
      href="style.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      charset="utf-8"
    ></script>
    <meta name="robots" content="noindex,follow" />
    <!-- /"""""""""boot sttrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
        Shopping Bag carting system
      </div>

      <!-- Product #1 -->
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>

        <div class="image">
          <img src="images/item-1.png"  />
        </div>

        <div class="description">
          <span>Paper bag 1</span>
          <span>Bag inside</span>
          <span>White</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="images/plus.svg"  />
          </button>
          <input type="text" name="name" value="1" />
          <button class="minus-btn" type="button" name="button">
            <img src="images/minus.svg"  />
          </button>
        </div>
        <div class="total-price">$549</div>
        <button class="form-control col-lg-4 col-md-2 bg-danger text-white ">ADD to cart</button>

      </div>

      <!-- Product #2 -->
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>

        <div class="image">
          <img src="images/item-2.png"  />
        </div>

        <div class="description">
          <span>Paper piece</span>
          <span>BAG explore</span>
          <span>White</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="images/plus.svg" alt="" />
          </button>
          <input type="text" name="name" value="1" />
          <button class="minus-btn" type="button" name="button">
            <img src="images/minus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">$870</div>
        <button class="form-control col-lg-4 col-md-2 bg-danger text-white ">ADD to cart</button>

      </div>

      <!-- Product #3 -->
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>

        <div class="image">
          <img src="images/item-3.png" />
        </div>

        <div class="description">
          <span>Paper bag 2</span>
          <span> craft bags</span>
          <span>Brown</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="images/plus.svg" alt="" />
          </button>
          <input type="text" name="name" value="1" />
          <button class="minus-btn" type="button" name="button">
            <img src="images/minus.svg" />
          </button>
        </div>

        <div class="total-price">$349</div>
        <button class="form-control col-lg-4 col-md-2 bg-danger text-white ">ADD to cart</button>

      </div>
    </div>

    <script type="text/javascript">
      $(".minus-btn").on("click", function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest("div").find("input");
        var value = parseInt($input.val());

        if (value > 1) {
          value = value - 1;
        } else {
          value = 0;
        }

        $input.val(value);
      });

      $(".plus-btn").on("click", function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest("div").find("input");
        var value = parseInt($input.val());

        if (value < 100) {
          value = value + 1;
        } else {
          value = 100;
        }

        $input.val(value);
      });

      $(".like-btn").on("click", function () {
        $(this).toggleClass("is-active");
      });
    </script>
  </body>
</html>
